@import './base.css';

#app {
  max-width: 1400px;
  margin: auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.flex {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  width: 100%;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
  align-items: center;
}
.box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.space-between {
  justify-content: space-between;
}
.error {
  color: var(--vt-c-text-red)
}
label {
  margin-right: 1em;
}
button {
  padding: 0.5em 1.5em;
  border-radius: 2em;
  border-color: transparent;
  background-color: var(--vt-c-green);
  color: var(--vt-c-white-soft);
  font-family: inherit;
  font-size: inherit;
}
button:hover {
  background-color: var(--vt-c-green-dark);
}
button:disabled {
  background-color: var(--vt-c-green-disabled);
  color: var(--vt-c-text-dark-2);
}
input {
  font-family: inherit;
  font-size: inherit;
}
h1, h2{
  font-weight: bold;
}
b {
  font-weight: bold;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
