@import './base.css';

#app {
  max-width: 1400px;
  margin: auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.flex {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  width: 100%;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
label {
  margin-right: 1em;
}
button {
  padding: 0.5em 1.5em;
  border-radius: 2em;
  border-color: transparent;
  background-color: var(--vt-c-green);
  color: var(--vt-c-white-soft);
  font-family: system-ui;
}
button:hover {
  background-color: var(--vt-c-green-dark);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
